.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  z-index: 2;
}

.chats-body {
  background-image: url("../images/chatBg.png");
  min-height: 150vh;
  padding: 0;
  padding-top: 110px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chats-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0; /*가운데 정렬 for fixed container*/
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0px 30px 60px -60px rgba(50, 50, 93, 0.2),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2),
    0px 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}
.chat__write:focus ~ .chat__icon {
  /*해당 개체의 다음에 있는 형제들 선택*/
  opacity: 0;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}
.photo-container {
  width: 80%;
}
.message .message__content {
  width: 80%;
}
.message .long-msg {
  width: 100%;
}
.message .short-msg {
  width: 40%;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message .message__avatar {
  width: 50px;
  border-radius: 30px;
  margin-right: 15px;
  animation: spin 2s linear infinite;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.incoming-message .chat__photo {
  width: 250px;
  height: 200px;
  border: 3px solid white;
}

.sent-message .chat__emoticon {
  width: 30px;
  margin-right: 15px;
}

.incoming-message .message__author {
  margin-bottom: 5px;
  font-weight: 600;
  display: block;
  font-size: 16px;
}

.message .message__bubble {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  color: rgb(31, 31, 90);
  margin-bottom: 10px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0;
  background-image: linear-gradient(to right, #43c6ac, #f8ffae);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to left, #43c6ac, #f8ffae);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}

.chat .chat__unread {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat .chat__badge {
  margin-top: 2px;
  color: white;
  background-color: #dc5d46;
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.chat__group .friend__avatar {
  width: 30px !important;
  height: 30px;
  margin: 0;
}

.chat__group {
  margin-right: 15px;
}
